body {
    background: url("pictures/train-tracks.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
}

#entire-container {
    opacity: 0.8;
}